---
import EducationSection from "@/components/EducationSection";
import ExperienceSection from "@/components/ExperienceSection";
import Footer from "@/components/Footer";
import GlassHeader from "@/components/GlassHeader";
import HeroSection from "@/components/HeroSection";
import ProjectsSection from "@/components/ProjectsSection";
import SkillsSection from "@/components/SkillsSection";
import Layout from "@/layouts/Layout.astro";

---

<Layout>
    <div>Here will be a blog</div>
</Layout>